<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
	<booleanAttribute key="org.eclipse.debug.core.capture_output" value="false"/>
	<mapAttribute key="org.eclipse.debug.core.environmentVariables">
		<mapEntry key="EXTRA_JAVA_HOMES" value=""/>
		<mapEntry key="PATH" value="/home/mrs/git/simulation/install/bin:/opt/ros/melodic/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"/>
		<mapEntry key="JAVA_HOME" value="../openjdk1.8.0_232-jvmci-19.3-b06"/>
	</mapAttribute>
	<booleanAttribute key="org.eclipse.debug.core.ATTR_REFRESH_RECURSIVE" value="false"/>
	<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;resources&gt;&lt;item path=&quot;/TruffleCourse/trufflecourse.jar&quot; type=&quot;1&quot;/&gt;&lt;/resources&gt;}"/>
	<stringAttribute key="org.eclipse.ui.externaltools.ATTR_BUILD_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;resources&gt;&lt;item path=&quot;/org.truffle.cs.mj/src&quot; type=&quot;2&quot;/&gt;&lt;item path=&quot;/org.truffle.cs.mj/bin&quot; type=&quot;2&quot;/&gt;&lt;item path=&quot;/org.truffle.cs.samples/src&quot; type=&quot;2&quot;/&gt;&lt;item path=&quot;/org.truffle.cs.samples/bin&quot; type=&quot;2&quot;/&gt;&lt;/resources&gt;}"/>
	<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
	<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
	<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/home/mrs/compilers/Source/trufflecourse/code/TruffleCourse.dist/.externalToolBuilders/CreateTruffleCourseDist.log"/>
	<booleanAttribute key="org.eclipse.debug.ui.ATTR_APPEND_TO_FILE" value="false"/>
	<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/home/mrs/compilers/Source/mx/mx"/>
	<stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="auto,full,incremental"/>
	<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-v archive @TruffleCourse"/>
	<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
	<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/home/mrs/compilers/Source/trufflecourse"/>
</launchConfiguration>
